/* App.css */

.App {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: auto 3fr;
  gap: 40px; 
  padding: 20px;
}

.custom-header {
  grid-column: 1 / span 3; 
  grid-row: 1 / span 1;
}

.left-section {
  grid-column: 1 /2;
  grid-row: 2 / 3; /* Cover the second row */
  background-color: #d4d4d4 ; /* Background color for the left section */
  padding: 10px;
}

.right-section {
  grid-column: 2 /4; 
  grid-row: 2 / 3; 
  border-radius: 15px;
  background-color:#d6d3d1;
}
#cv-details{
  text-align: center;
}

.personal-info {
  /* background-color: #075985 ; */
  color: black;
  /* padding: 36px 24px; */
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.experience-info, .educational-info{
  text-align: center;
}

.educational-info{
  margin-bottom: 60px;
}